@charset "utf-8";
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

@media print {
    a, a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    abbr[title]:after {
        content: " (" attr(title) ")"
    }

    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: ""
    }

    blockquote, pre {
        border: 1px solid #999;
        page-break-inside: avoid
    }

    thead {
        display: table-header-group
    }

    img, tr {
        page-break-inside: avoid
    }

    img {
        max-width: 100% !important
    }

    h2, h3, p {
        orphans: 3;
        widows: 3
    }

    h2, h3 {
        page-break-after: avoid
    }

    select {
        background: #fff !important
    }

    .navbar {
        display: none
    }

    .btn > .caret, .dropup > .btn > .caret {
        border-top-color: #000 !important
    }

    .label {
        border: 1px solid #000
    }

    .table {
        border-collapse: collapse !important
    }
}

*, :after, :before {
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-family: Arial, Helvetica, Gulim, sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #005b9e;
    text-decoration: none
}

a:focus, a:hover {
    color: #002f52;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

figure {
    margin: 0
}

img {
    vertical-align: middle
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail > img, .thumbnail a > img {
    display: block;
    max-width: 100%;
    height: auto
}

.img-rounded {
    border-radius: 4px
}

.img-thumbnail {
    padding: 2px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto
}

.img-circle {
    border-radius: 50%
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #bbb
}

[role=button] {
    cursor: pointer
}

.text-left {
    text-align: left !important
}

.text-center {
    text-align: center !important
}

.text-right {
    text-align: right !important
}

.centered {
    margin-left: auto;
    margin-right: auto
}

.valign-top {
    vertical-align: top !important
}

.valign-middle {
    vertical-align: middle !important
}

.valign-bottom {
    vertical-align: bottom !important
}

.display-block {
    display: block !important
}

.display-inline-block {
    display: inline-block !important
}

.text-spacing-condensed {
    letter-spacing: -1px
}

.font-9px {
    font-size: 9px !important
}

.font-10px {
    font-size: 10px !important
}

.font-11px {
    font-size: 11px !important
}

.font-12px {
    font-size: 12px !important
}

.font-13px {
    font-size: 13px !important
}

.font-14px {
    font-size: 14px !important
}

.font-15px {
    font-size: 15px !important
}

.font-16px {
    font-size: 16px !important
}

.font-17px {
    font-size: 17px !important
}

.font-18px {
    font-size: 18px !important
}

.font-19px {
    font-size: 19px !important
}

.font-20px {
    font-size: 20px !important
}

.lh-15 {
    line-height: 1.5
}

.lh-16 {
    line-height: 1.6
}

.lh-17 {
    line-height: 1.7
}

.lh-18 {
    line-height: 1.8
}

.lh-19 {
    line-height: 1.9
}

.lh-20 {
    line-height: 2
}

.text-bold {
    font-weight: 700 !important
}

.text-uline {
    text-decoration: underline !important
}

.text-uline-no {
    text-decoration: none !important
}

.text-line-through {
    text-decoration: line-through !important
}

.text-italic {
    font-style: italic !important
}

.text-disabled {
    cursor: not-allowed
}

.grid-text-uline-through {
    text-decoration: underline line-through
}

.control-set .control.ellipsis a, .control-set .control.ellipsis span, .ellipsis, .table-ellipsis td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.table-ellipsis td, td.ellipsis {
    word-wrap: normal !important
}

.table-ellipsis td br, td.ellipsis br {
    display: none
}

.bg-white {
    background-color: #fff !important
}

.bg-gray {
    background-color: #ebebeb !important
}

.bg-muted {
    background-color: #eee !important
}

.pa-0 {
    padding: 0 !important
}

.pa-1 {
    padding: 1px !important
}

.pa-2 {
    padding: 2px !important
}

.pa-3 {
    padding: 3px !important
}

.pa-4 {
    padding: 4px !important
}

.pa-5 {
    padding: 5px !important
}

.pa-10 {
    padding: 10px !important
}

.pa-15 {
    padding: 15px !important
}

.pa-20 {
    padding: 20px !important
}

.pa-25 {
    padding: 25px !important
}

.pa-30 {
    padding: 30px !important
}

.pa-35 {
    padding: 35px !important
}

.pa-40 {
    padding: 40px !important
}

.pa-50 {
    padding: 50px !important
}

.pa-55 {
    padding: 55px !important
}

.pa-60 {
    padding: 60px !important
}

.pa-65 {
    padding: 65px !important
}

.pa-70 {
    padding: 70px !important
}

.pa-75 {
    padding: 75px !important
}

.pa-80 {
    padding: 80px !important
}

.pa-85 {
    padding: 85px !important
}

.pa-90 {
    padding: 90px !important
}

.pa-95 {
    padding: 95px !important
}

.pa-100 {
    padding: 100px !important
}

.pt-0 {
    padding-top: 0 !important
}

.pt-1 {
    padding-top: 1px !important
}

.pt-2 {
    padding-top: 2px !important
}

.pt-3 {
    padding-top: 3px !important
}

.pt-4 {
    padding-top: 4px !important
}

.pt-5 {
    padding-top: 5px !important
}

.pt-10 {
    padding-top: 10px !important
}

.pt-15 {
    padding-top: 15px !important
}

.pt-20 {
    padding-top: 20px !important
}

.pt-25 {
    padding-top: 25px !important
}

.pt-30 {
    padding-top: 30px !important
}

.pt-35 {
    padding-top: 35px !important
}

.pt-40 {
    padding-top: 40px !important
}

.pt-50 {
    padding-top: 50px !important
}

.pt-55 {
    padding-top: 55px !important
}

.pt-60 {
    padding-top: 60px !important
}

.pt-65 {
    padding-top: 65px !important
}

.pt-70 {
    padding-top: 70px !important
}

.pt-75 {
    padding-top: 75px !important
}

.pt-80 {
    padding-top: 80px !important
}

.pt-85 {
    padding-top: 85px !important
}

.pt-90 {
    padding-top: 90px !important
}

.pt-95 {
    padding-top: 95px !important
}

.pt-100 {
    padding-top: 100px !important
}

.pr-0 {
    padding-right: 0 !important
}

.pr-1 {
    padding-right: 1px !important
}

.pr-2 {
    padding-right: 2px !important
}

.pr-3 {
    padding-right: 3px !important
}

.pr-4 {
    padding-right: 4px !important
}

.pr-5 {
    padding-right: 5px !important
}

.pr-10 {
    padding-right: 10px !important
}

.pr-15 {
    padding-right: 15px !important
}

.pr-20 {
    padding-right: 20px !important
}

.pr-25 {
    padding-right: 25px !important
}

.pr-30 {
    padding-right: 30px !important
}

.pr-35 {
    padding-right: 35px !important
}

.pr-40 {
    padding-right: 40px !important
}

.pr-50 {
    padding-right: 50px !important
}

.pr-55 {
    padding-right: 55px !important
}

.pr-60 {
    padding-right: 60px !important
}

.pr-65 {
    padding-right: 65px !important
}

.pr-70 {
    padding-right: 70px !important
}

.pr-75 {
    padding-right: 75px !important
}

.pr-80 {
    padding-right: 80px !important
}

.pr-85 {
    padding-right: 85px !important
}

.pr-90 {
    padding-right: 90px !important
}

.pr-95 {
    padding-right: 95px !important
}

.pr-100 {
    padding-right: 100px !important
}

.pb-0 {
    padding-bottom: 0 !important
}

.pb-1 {
    padding-bottom: 1px !important
}

.pb-2 {
    padding-bottom: 2px !important
}

.pb-3 {
    padding-bottom: 3px !important
}

.pb-4 {
    padding-bottom: 4px !important
}

.pb-5 {
    padding-bottom: 5px !important
}

.pb-10 {
    padding-bottom: 10px !important
}

.pb-15 {
    padding-bottom: 15px !important
}

.pb-20 {
    padding-bottom: 20px !important
}

.pb-25 {
    padding-bottom: 25px !important
}

.pb-30 {
    padding-bottom: 30px !important
}

.pb-35 {
    padding-bottom: 35px !important
}

.pb-40 {
    padding-bottom: 40px !important
}

.pb-50 {
    padding-bottom: 50px !important
}

.pb-55 {
    padding-bottom: 55px !important
}

.pb-60 {
    padding-bottom: 60px !important
}

.pb-65 {
    padding-bottom: 65px !important
}

.pb-70 {
    padding-bottom: 70px !important
}

.pb-75 {
    padding-bottom: 75px !important
}

.pb-80 {
    padding-bottom: 80px !important
}

.pb-85 {
    padding-bottom: 85px !important
}

.pb-90 {
    padding-bottom: 90px !important
}

.pb-95 {
    padding-bottom: 95px !important
}

.pb-100 {
    padding-bottom: 100px !important
}

.pl-0 {
    padding-left: 0 !important
}

.pl-1 {
    padding-left: 1px !important
}

.pl-2 {
    padding-left: 2px !important
}

.pl-3 {
    padding-left: 3px !important
}

.pl-4 {
    padding-left: 4px !important
}

.pl-5 {
    padding-left: 5px !important
}

.pl-10 {
    padding-left: 10px !important
}

.pl-15 {
    padding-left: 15px !important
}

.pl-20 {
    padding-left: 20px !important
}

.pl-25 {
    padding-left: 25px !important
}

.pl-30 {
    padding-left: 30px !important
}

.pl-35 {
    padding-left: 35px !important
}

.pl-40 {
    padding-left: 40px !important
}

.pl-50 {
    padding-left: 50px !important
}

.pl-55 {
    padding-left: 55px !important
}

.pl-60 {
    padding-left: 60px !important
}

.pl-65 {
    padding-left: 65px !important
}

.pl-70 {
    padding-left: 70px !important
}

.pl-75 {
    padding-left: 75px !important
}

.pl-80 {
    padding-left: 80px !important
}

.pl-85 {
    padding-left: 85px !important
}

.pl-90 {
    padding-left: 90px !important
}

.pl-95 {
    padding-left: 95px !important
}

.pl-100 {
    padding-left: 100px !important
}

.ma-0 {
    margin: 0 !important
}

.ma-1 {
    margin: 1px !important
}

.ma-2 {
    margin: 2px !important
}

.ma-3 {
    margin: 3px !important
}

.ma-4 {
    margin: 4px !important
}

.ma-5 {
    margin: 5px !important
}

.ma-10 {
    margin: 10px !important
}

.ma-15 {
    margin: 15px !important
}

.ma-20 {
    margin: 20px !important
}

.ma-25 {
    margin: 25px !important
}

.ma-30 {
    margin: 30px !important
}

.ma-35 {
    margin: 35px !important
}

.ma-40 {
    margin: 40px !important
}

.ma-50 {
    margin: 50px !important
}

.ma-55 {
    margin: 55px !important
}

.ma-60 {
    margin: 60px !important
}

.ma-65 {
    margin: 65px !important
}

.ma-70 {
    margin: 70px !important
}

.ma-75 {
    margin: 75px !important
}

.ma-80 {
    margin: 80px !important
}

.ma-85 {
    margin: 85px !important
}

.ma-90 {
    margin: 90px !important
}

.ma-95 {
    margin: 95px !important
}

.ma-100 {
    margin: 100px !important
}

.mt-0 {
    margin-top: 0 !important
}

.mt-1 {
    margin-top: 1px !important
}

.mt-2 {
    margin-top: 2px !important
}

.mt-3 {
    margin-top: 3px !important
}

.mt-4 {
    margin-top: 4px !important
}

.mt-5 {
    margin-top: 5px !important
}

.mt-10 {
    margin-top: 10px !important
}

.mt-15 {
    margin-top: 15px !important
}

.mt-20 {
    margin-top: 20px !important
}

.mt-25 {
    margin-top: 25px !important
}

.mt-30 {
    margin-top: 30px !important
}

.mt-35 {
    margin-top: 35px !important
}

.mt-40 {
    margin-top: 40px !important
}

.mt-50 {
    margin-top: 50px !important
}

.mt-55 {
    margin-top: 55px !important
}

.mt-60 {
    margin-top: 60px !important
}

.mt-65 {
    margin-top: 65px !important
}

.mt-70 {
    margin-top: 70px !important
}

.mt-75 {
    margin-top: 75px !important
}

.mt-80 {
    margin-top: 80px !important
}

.mt-85 {
    margin-top: 85px !important
}

.mt-90 {
    margin-top: 90px !important
}

.mt-95 {
    margin-top: 95px !important
}

.mt-100 {
    margin-top: 100px !important
}

.mr-0 {
    margin-right: 0 !important
}

.mr-1 {
    margin-right: 1px !important
}

.mr-2 {
    margin-right: 2px !important
}

.mr-3 {
    margin-right: 3px !important
}

.mr-4 {
    margin-right: 4px !important
}

.mr-5 {
    margin-right: 5px !important
}

.mr-10 {
    margin-right: 10px !important
}

.mr-15 {
    margin-right: 15px !important
}

.mr-20 {
    margin-right: 20px !important
}

.mr-25 {
    margin-right: 25px !important
}

.mr-30 {
    margin-right: 30px !important
}

.mr-35 {
    margin-right: 35px !important
}

.mr-40 {
    margin-right: 40px !important
}

.mr-50 {
    margin-right: 50px !important
}

.mr-55 {
    margin-right: 55px !important
}

.mr-60 {
    margin-right: 60px !important
}

.mr-65 {
    margin-right: 65px !important
}

.mr-70 {
    margin-right: 70px !important
}

.mr-75 {
    margin-right: 75px !important
}

.mr-80 {
    margin-right: 80px !important
}

.mr-85 {
    margin-right: 85px !important
}

.mr-90 {
    margin-right: 90px !important
}

.mr-95 {
    margin-right: 95px !important
}

.mr-100 {
    margin-right: 100px !important
}

.mb-0 {
    margin-bottom: 0 !important
}

.mb-1 {
    margin-bottom: 1px !important
}

.mb-2 {
    margin-bottom: 2px !important
}

.mb-3 {
    margin-bottom: 3px !important
}

.mb-4 {
    margin-bottom: 4px !important
}

.mb-5 {
    margin-bottom: 5px !important
}

.mb-10 {
    margin-bottom: 10px !important
}

.mb-15 {
    margin-bottom: 15px !important
}

.mb-20 {
    margin-bottom: 20px !important
}

.mb-25 {
    margin-bottom: 25px !important
}

.mb-30 {
    margin-bottom: 30px !important
}

.mb-35 {
    margin-bottom: 35px !important
}

.mb-40 {
    margin-bottom: 40px !important
}

.mb-50 {
    margin-bottom: 50px !important
}

.mb-55 {
    margin-bottom: 55px !important
}

.mb-60 {
    margin-bottom: 60px !important
}

.mb-65 {
    margin-bottom: 65px !important
}

.mb-70 {
    margin-bottom: 70px !important
}

.mb-75 {
    margin-bottom: 75px !important
}

.mb-80 {
    margin-bottom: 80px !important
}

.mb-85 {
    margin-bottom: 85px !important
}

.mb-90 {
    margin-bottom: 90px !important
}

.mb-95 {
    margin-bottom: 95px !important
}

.mb-100 {
    margin-bottom: 100px !important
}

.ml-0 {
    margin-left: 0 !important
}

.ml-1 {
    margin-left: 1px !important
}

.ml-2 {
    margin-left: 2px !important
}

.ml-3 {
    margin-left: 3px !important
}

.ml-4 {
    margin-left: 4px !important
}

.ml-5 {
    margin-left: 5px !important
}

.ml-10 {
    margin-left: 10px !important
}

.ml-15 {
    margin-left: 15px !important
}

.ml-20 {
    margin-left: 20px !important
}

.ml-25 {
    margin-left: 25px !important
}

.ml-30 {
    margin-left: 30px !important
}

.ml-35 {
    margin-left: 35px !important
}

.ml-40 {
    margin-left: 40px !important
}

.ml-50 {
    margin-left: 50px !important
}

.ml-55 {
    margin-left: 55px !important
}

.ml-60 {
    margin-left: 60px !important
}

.ml-65 {
    margin-left: 65px !important
}

.ml-70 {
    margin-left: 70px !important
}

.ml-75 {
    margin-left: 75px !important
}

.ml-80 {
    margin-left: 80px !important
}

.ml-85 {
    margin-left: 85px !important
}

.ml-90 {
    margin-left: 90px !important
}

.ml-95 {
    margin-left: 95px !important
}

.ml-100 {
    margin-left: 100px !important
}

.h-5 {
    height: 5px
}

.h-10 {
    height: 10px
}

.h-15 {
    height: 15px
}

.h-20 {
    height: 20px
}

.h-25 {
    height: 25px
}

.h-30 {
    height: 30px
}

.h-35 {
    height: 35px
}

.h-40 {
    height: 40px
}

.h-45 {
    height: 45px
}

.h-50 {
    height: 50px
}

.h-100 {
    height: 100px
}

.h-120 {
    height: 120px
}

.h-200 {
    height: 200px
}

.h-300 {
    height: 300px
}

.h-350 {
    height: 350px
}

.h-400 {
    height: 400px
}

.height-auto {
    height: auto !important
}

.mh-80 {
    min-height: 80px
}

.mh-90 {
    min-height: 90px
}

.mh-100 {
    min-height: 100px
}

.form-control.textbox-inline.w-5, .w-5 {
    width: 5px !important
}

.form-control.textbox-inline.w-10, .w-10 {
    width: 10px !important
}

.form-control.textbox-inline.w-15, .w-15 {
    width: 15px !important
}

.form-control.textbox-inline.w-20, .w-20 {
    width: 20px !important
}

.form-control.textbox-inline.w-25, .w-25 {
    width: 25px !important
}

.form-control.textbox-inline.w-30, .w-30 {
    width: 30px !important
}

.form-control.textbox-inline.w-35, .w-35 {
    width: 35px !important
}

.form-control.textbox-inline.w-40, .w-40 {
    width: 40px !important
}

.form-control.textbox-inline.w-45, .w-45 {
    width: 45px !important
}

.form-control.textbox-inline.w-50, .w-50 {
    width: 50px !important
}

.form-control.textbox-inline.w-100, .w-100 {
    width: 100px !important
}

.form-control.textbox-inline.w-200, .w-200 {
    width: 200px !important
}

.form-control.textbox-inline.w-300, .w-300 {
    width: 300px !important
}

.form-control.textbox-inline.w-400, .w-400 {
    width: 400px !important
}

.form-control.textbox-inline.w-500, .w-500 {
    width: 500px !important
}

.form-control.textbox-inline.w-600, .w-600 {
    width: 600px !important
}

.border-no-a, tr.border-no-a td, tr.border-no-a th {
    border-style: none !important
}

.border-no-t, tr.border-no-t td, tr.border-no-t th {
    border-top-style: none !important
}

.border-no-r, tr.border-no-r td, tr.border-no-r th {
    border-right-style: none !important
}

.border-no-b, tr.border-no-b td, tr.border-no-b th {
    border-bottom-style: none !important
}

.border-no-l, tr.border-no-l td, tr.border-no-l th {
    border-left-style: none !important
}

.table-bordered.ie-border-bug-fix .border-no-a, .table-bordered.ie-border-bug-fix .border-no-b, .table-bordered.ie-border-bug-fix .border-no-l, .table-bordered.ie-border-bug-fix .border-no-r, .table-bordered.ie-border-bug-fix .border-no-t, .table-bordered.ie-border-bug-fix tr.border-no-a td, .table-bordered.ie-border-bug-fix tr.border-no-a th, .table-bordered.ie-border-bug-fix tr.border-no-b td, .table-bordered.ie-border-bug-fix tr.border-no-b th, .table-bordered.ie-border-bug-fix tr.border-no-l td, .table-bordered.ie-border-bug-fix tr.border-no-l th, .table-bordered.ie-border-bug-fix tr.border-no-r td, .table-bordered.ie-border-bug-fix tr.border-no-r th, .table-bordered.ie-border-bug-fix tr.border-no-t td, .table-bordered.ie-border-bug-fix tr.border-no-t th {
    outline: none
}

table td.border-a, table tr.border-a td, table tr.border-a th {
    border-style: solid !important
}

table td.border-t, table tr.border-t td, table tr.border-t th {
    border-top-style: solid !important
}

table td.border-r, table tr.border-r td, table tr.border-r th {
    border-right-style: solid !important
}

table td.border-b, table tr.border-b td, table tr.border-b th {
    border-bottom-style: solid !important
}

table td.border-l, table tr.border-l td, table tr.border-l th {
    border-left-style: solid !important
}

.radius-no {
    border-radius: 0 !important
}

.zoom-1 {
    zoom: 100% !important
}

.zoom-2 {
    zoom: 105% !important
}

.zoom-3 {
    zoom: 110% !important
}

.zoom-4 {
    zoom: 115% !important
}

.zoom-5 {
    zoom: 120% !important
}

.zoom-6 {
    zoom: 125% !important
}

.zoom-7 {
    zoom: 130% !important
}

.zoom-8 {
    zoom: 135% !important
}

.zoom-9 {
    zoom: 140% !important
}

.zoom-10 {
    zoom: 150% !important
}

.zoom-11 {
    zoom: 160% !important
}

.zoom-12 {
    zoom: 170% !important
}

.zoom-13 {
    zoom: 180% !important
}

.zoom-14 {
    zoom: 190% !important
}

.zoom-15 {
    zoom: 200% !important
}

.zoom-70 {
    zoom: 70% !important
}

.zoom-80 {
    zoom: 80% !important
}

.zoom-90 {
    zoom: 90% !important
}

.zoom-100 {
    zoom: 100% !important
}

.zoom-110 {
    zoom: 110% !important
}

.zoom-120 {
    zoom: 120% !important
}

.zoom-130 {
    zoom: 130% !important
}

.zoom-140 {
    zoom: 140% !important
}

.zoom-150 {
    zoom: 150% !important
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    padding-left: 2px;
    padding-right: 2px
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    padding-left: 5px;
    padding-right: 5px
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-left: 7px;
    padding-right: 7px
}

.direction-ltr {
    direction: ltr
}

.direction-rtl {
    direction: rtl
}

.direction-rtl .pull-left {
    float: right !important
}

.direction-rtl .pull-right {
    float: left !important
}

.direction-rtl ol, .direction-rtl ul {
    padding-right: 0
}

.text-indent1 {
    text-indent: 15px !important
}

.text-indent2 {
    text-indent: 30px !important
}

.text-indent3 {
    text-indent: 45px !important
}

.text-indent4 {
    text-indent: 60px !important
}

.text-indent5 {
    text-indent: 75px !important
}

.text-indent6 {
    text-indent: 90px !important
}

.text-indent7 {
    text-indent: 105px !important
}

.text-indent8 {
    text-indent: 120px !important
}

.text-indent9 {
    text-indent: 135px !important
}

.text-indent10 {
    text-indent: 150px !important
}

.text-indent11 {
    text-indent: 165px !important
}

.text-indent12 {
    text-indent: 180px !important
}

.text-indent13 {
    text-indent: 195px !important
}

.text-indent14 {
    text-indent: 210px !important
}

.text-indent15 {
    text-indent: 225px !important
}

.text-indent16 {
    text-indent: 240px !important
}

.text-indent17 {
    text-indent: 255px !important
}

.text-indent18 {
    text-indent: 270px !important
}

.text-indent19 {
    text-indent: 285px !important
}

.text-indent20 {
    text-indent: 300px !important
}

.text-indent21 {
    text-indent: 315px !important
}

.text-indent22 {
    text-indent: 330px !important
}

.text-indent23 {
    text-indent: 345px !important
}

.text-indent24 {
    text-indent: 360px !important
}

.text-indent25 {
    text-indent: 375px !important
}

.text-indent26 {
    text-indent: 390px !important
}

.text-indent27 {
    text-indent: 405px !important
}

.text-indent28 {
    text-indent: 420px !important
}

.text-indent29 {
    text-indent: 435px !important
}

.text-indent30 {
    text-indent: 450px !important
}

.indent1 {
    margin-left: 15px !important
}

.indent2 {
    margin-left: 30px !important
}

.indent3 {
    margin-left: 45px !important
}

.indent4 {
    margin-left: 60px !important
}

.indent5 {
    margin-left: 75px !important
}

.indent6 {
    margin-left: 90px !important
}

.indent7 {
    margin-left: 105px !important
}

.indent8 {
    margin-left: 120px !important
}

.indent9 {
    margin-left: 135px !important
}

.indent10 {
    margin-left: 150px !important
}

.indent11 {
    margin-left: 165px !important
}

.indent12 {
    margin-left: 180px !important
}

.indent13 {
    margin-left: 195px !important
}

.indent14 {
    margin-left: 210px !important
}

.indent15 {
    margin-left: 225px !important
}

.indent16 {
    margin-left: 240px !important
}

.indent17 {
    margin-left: 255px !important
}

.indent18 {
    margin-left: 270px !important
}

.indent19 {
    margin-left: 285px !important
}

.indent20 {
    margin-left: 300px !important
}

.indent21 {
    margin-left: 315px !important
}

.indent22 {
    margin-left: 330px !important
}

.indent23 {
    margin-left: 345px !important
}

.indent24 {
    margin-left: 360px !important
}

.indent25 {
    margin-left: 375px !important
}

.indent26 {
    margin-left: 390px !important
}

.indent27 {
    margin-left: 405px !important
}

.indent28 {
    margin-left: 420px !important
}

.indent29 {
    margin-left: 435px !important
}

.indent30 {
    margin-left: 450px !important
}

.table td.indent1 {
    padding-left: 15px !important
}

.table td.indent2 {
    padding-left: 30px !important
}

.table td.indent3 {
    padding-left: 45px !important
}

.table td.indent4 {
    padding-left: 60px !important
}

.table td.indent5 {
    padding-left: 75px !important
}

.table td.indent6 {
    padding-left: 90px !important
}

.table td.indent7 {
    padding-left: 105px !important
}

.table td.indent8 {
    padding-left: 120px !important
}

.table td.indent9 {
    padding-left: 135px !important
}

.table td.indent10 {
    padding-left: 150px !important
}

.table td.indent11 {
    padding-left: 165px !important
}

.table td.indent12 {
    padding-left: 180px !important
}

.table td.indent13 {
    padding-left: 195px !important
}

.table td.indent14 {
    padding-left: 210px !important
}

.table td.indent15 {
    padding-left: 225px !important
}

.table td.indent16 {
    padding-left: 240px !important
}

.table td.indent17 {
    padding-left: 255px !important
}

.table td.indent18 {
    padding-left: 270px !important
}

.table td.indent19 {
    padding-left: 285px !important
}

.table td.indent20 {
    padding-left: 300px !important
}

.table td.indent21 {
    padding-left: 315px !important
}

.table td.indent22 {
    padding-left: 330px !important
}

.table td.indent23 {
    padding-left: 345px !important
}

.table td.indent24 {
    padding-left: 360px !important
}

.table td.indent25 {
    padding-left: 375px !important
}

.table td.indent26 {
    padding-left: 390px !important
}

.table td.indent27 {
    padding-left: 405px !important
}

.table td.indent28 {
    padding-left: 420px !important
}

.table td.indent29 {
    padding-left: 435px !important
}

.table td.indent30 {
    padding-left: 450px !important
}

.cursor-default {
    cursor: default !important
}

.cursor-pointer {
    cursor: pointer !important
}

.cursor-all-scroll {
    cursor: all-scroll !important
}

.cursor-ew-resize {
    cursor: ew-resize !important
}

.cursor-ns-resize {
    cursor: ns-resize !important
}

.cursor-not-allowed {
    cursor: not-allowed !important
}

.position-static {
    position: static !important
}

.position-relative {
    position: relative !important
}

.position-absolute {
    position: absolute !important
}

.position-fixed {
    position: fixed !important
}

.overflow-auto {
    overflow: auto
}

.overflow-scroll {
    overflow: scroll
}

.overflow-hidden {
    overflow: hidden
}

.overflow-visible {
    overflow: visible
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    font-weight: 400;
    line-height: 1;
    color: #999
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 17px;
    margin-bottom: 8.5px
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
    font-size: 65%
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 8.5px;
    margin-bottom: 8.5px
}

.h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    font-size: 75%
}

.h1, h1 {
    font-size: 31px
}

.h2, h2 {
    font-size: 25px
}

.h3, h3 {
    font-size: 21px
}

.h4, h4 {
    font-size: 15px
}

.h5, h5 {
    font-size: 12px
}

.h6, h6 {
    font-size: 11px
}

p {
    margin: 0 0 8.5px
}

.lead {
    margin-bottom: 17px;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.4
}

@media (min-width: 768px) {
    .lead {
        font-size: 18px
    }
}

.small, small {
    font-size: 91%
}

.mark, mark {
    background-color: #fcf8e3;
    padding: .2em
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.text-justify {
    text-align: justify
}

.text-nowrap {
    white-space: nowrap
}

.text-lowercase {
    text-transform: lowercase
}

.text-uppercase {
    text-transform: uppercase
}

.text-capitalize {
    text-transform: capitalize
}

.text-muted {
    color: #999
}

.text-primary {
    color: #005b9e
}

a.text-primary:hover {
    color: #003e6b
}

.text-success {
    color: #3c763d
}

a.text-success:hover {
    color: #2b542c
}

.text-info {
    color: #31708f
}

a.text-info:hover {
    color: #245269
}

.text-warning {
    color: #8a6d3b
}

a.text-warning:hover {
    color: #66512c
}

.text-danger {
    color: #a94442
}

a.text-danger:hover {
    color: #843534
}

.bg-primary {
    color: #fff;
    background-color: #005b9e
}

a.bg-primary:hover {
    background-color: #003e6b
}

.bg-success {
    background-color: #dff0d8
}

a.bg-success:hover {
    background-color: #c1e2b3
}

.bg-info {
    background-color: #d9edf7
}

a.bg-info:hover {
    background-color: #afd9ee
}

.bg-warning {
    background-color: #fcf8e3
}

a.bg-warning:hover {
    background-color: #f7ecb5
}

.bg-danger {
    background-color: #f2dede
}

a.bg-danger:hover {
    background-color: #e4b9b9
}

.page-header {
    padding-bottom: 7.5px;
    margin: 34px 0 17px;
    border-bottom: 1px solid #e6e6e6
}

ol, ul {
    margin-bottom: 8.5px
}

ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0
}

.list-inline, .list-unstyled {
    padding-left: 0;
    list-style: none
}

.list-inline {
    margin-left: -5px
}

.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px
}

dl {
    margin-top: 0;
    margin-bottom: 17px
}

dd, dt {
    line-height: 1.42857143
}

dt {
    font-weight: 700
}

dd {
    margin-left: 0
}

@media (min-width: 768px) {
    .dl-horizontal dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .dl-horizontal dd {
        margin-left: 180px
    }
}

address {
    margin-bottom: 17px;
    font-style: normal;
    line-height: 1.42857143
}

code, kbd, pre, samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace
}

code {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 3px
}

code, kbd {
    padding: 2px 4px;
    font-size: 90%
}

kbd {
    color: #fff;
    background-color: #333;
    border-radius: 2px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25)
}

kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: 700;
    box-shadow: none
}

pre {
    display: block;
    padding: 8px;
    margin: 0 0 8.5px;
    font-size: 11px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0
}

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll
}

.font-dotum {
    font-family: "Dotum", "돋움", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-gulim {
    font-family: "Gulim", "굴림", "Arial", "Apple SD Gothic Neo"
}

.font-batang {
    font-family: "Batang", "바탕", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-gungsuh {
    font-family: "Gungsuh", "궁서", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-malgun-gothic {
    font-family: "Malgun Gothic", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-nanumgothic {
    font-family: "NanumGothic", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-nanumbarungothic {
    font-family: "NanumBarunGothic", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-nanummyeongjo {
    font-family: "NanumMyeongjo", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-arial {
    font-family: "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-verdana {
    font-family: "Verdana", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-times-new-roman {
    font-family: "Times New Roman", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-georgia {
    font-family: "Georgia", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-trebuchet-ms {
    font-family: "Trebuchet MS", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-tahoma {
    font-family: "Tahoma", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-comic-sans-ms {
    font-family: "Comic Sans MS", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-arial-black {
    font-family: "Arial Black", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-book-antiqua {
    font-family: "Book Antiqua", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-helvetica {
    font-family: "Helvetica", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-impact {
    font-family: "Impact", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-courier-new {
    font-family: "Courier New", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-lucida-console {
    font-family: "Lucida Console", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-calibri {
    font-family: "Calibri", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-microsoft-sans-serif {
    font-family: "Microsoft Sans Serif", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-microsoft-yahei {
    font-family: "microsoft yahei", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-simsun {
    font-family: "宋体", "SimSun", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-simhei {
    font-family: "黑体", "SimHei", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-kaiti {
    font-family: "標楷體", "DFKai-SB", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-fangsong {
    font-family: "仿宋", "FangSong", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-lishu {
    font-family: "隶书", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-youyuan {
    font-family: "幼圆", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-hiragino-sans {
    font-family: "苹果丽黑", "Hiragino Sans GB", "Apple SD Gothic Neo", "Gulim"
}

.font-pmingliu {
    font-family: "新細明體", "PMingLiU", "Apple SD Gothic Neo", "Gulim"
}

.font-microsoft-jhengHei {
    font-family: "微軟正黑體", "Microsoft JhengHei", "Apple SD Gothic Neo", "Gulim"
}

.font-ms-pgothic {
    font-family: "MS PGothic", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-ms-pmincho {
    font-family: "MS PMincho", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-ms-gothic {
    font-family: "MS Gothic", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-ms-mincho {
    font-family: "MS Mincho", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-meiryo {
    font-family: "Meiryo", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-angsana-new {
    font-family: "Angsana New", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-browallia-new {
    font-family: "Browallia New", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-rsu {
    font-family: "RSU", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-cordia-new {
    font-family: "Cordia New", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-leelawadee {
    font-family: "Leelawadee", "Arial", "Apple SD Gothic Neo", "Gulim"
}

.font-freesiaupc {
    font-family: "FreesiaUPC", "Arial", "Apple SD Gothic Neo", "Gulim"
}


.flex-none {
    flex: none !important
}

.pull-left {
    float: left !important
}

.pull-right {
    float: right !important
}

html, body, #root {
    height: 100%
}

.page {
    height: 100%;
    display: grid;
    padding: 0;

    margin: 0;
    grid-gap: 10px;
    grid-template-columns:200px 1fr;

    grid-template-areas:
    "navigator-template contents-template";
}

.navigator-template {
    background-color: #f5f5f5;
}

.bp3-elevation-0 {
    box-shadow: none
}

.bp3-tree-root {
    cursor: pointer
}

.bp3-tree-node-content-1 {
    padding-left: 10px
}

.bp3-tree-node.bp3-tree-node-selected > .bp3-tree-node-content {
    background-color: #448aff;
}


.contents-template {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column
}

.header-toolbar {
    margin: 10px 10px 0 0
}

.header-user {
    padding: 10px;
    border-bottom: 1px solid #dbdbdb;
    background-color: #efefef;
}

.header-user > span {
    display: inline-block;
    padding: 0 3px;
    margin-right: 4px;
    background-color: #ffffff;
    border-radius: 3px;
}

.bp3-button {
    font-size: 11px;
    min-width: 0;
    min-height: 0;
    padding: 8px 14px;
}

.bp3-button + .bp3-button {
    margin-left: 5px
}

div.grid {
    flex: 1;
    margin: 10px 10px 10px 0;
    display: flex;
    flex-direction: column;
}

div.grid + div.grid {
    margin-top: 0;
    flex: 1
}

.ag-grid-header {
    display: flex;
    align-items: center;
}

span.icon-excel {
    background: url("../images/excel_icon.png") no-repeat;
    background-size: 100%;
    height: 20px;
    width: 20px;
    /* margin: 2px; */
    margin-left: auto;
    cursor: pointer;
}

.spinner-excel {
    margin-left: auto;
}

/* .ag-grid-header > span.icon-excel:hover{
  background: url("../images/excel_icon.PNG") no-repeat;
  background-size: 100%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  margin: 0;
  right: 10px;
  z-index: 1;
} */

.ag-theme-custom:not(.ag-popup) {
    height: 100%;
}

.ag-theme-custom,
.ag-theme-custom .ag-row {
    font-size: 11px;
}

.ag-theme-custom .ag-root-wrapper {
    border-color: #dde2eb;
    border-radius: 5px
}

.ag-theme-custom .ag-header {
    background-color: #f1f1f1;
    border-bottom-color: #dde2eb;
}


.ag-row-bgcolor-green {
    background-color: #f8fff6 !important;
}

.ag-row-bgcolor-blue {
    background-color: #edf2ff !important;
}

.ag-row-bgcolor-yellow {
    background-color: #fffdea !important;
}

.ag-row-bgcolor-orange {
    background-color: #fff3ea !important;
}

.ag-row-bgcolor-gainsboro {
    background-color: #dcdcdc !important;
}

.ag-row-bgcolor-red {
    background-color: #FEF2F1 !important;
}

.icon-rotate-90 {
    /*-ms-transform: rotate(90deg); !* IE 9 이상에서 사용 *!*/
    /*-webkit-transform: rotate(90deg); !* 사파리, 크롬, 오페라 브라우저 사용 *!*/
    transform: rotate(90deg);
}

.wrapper-form,
.wrapper-form > li {
    display: flex;

    align-items: center;
    position: relative;
}

.wrapper-form {
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.wrapper-form > li {
    min-height: 31px
}

.wrapper-form > li:hover {
    background-color: #f1f1f1
}

.wrapper-form > li > .title,
.wrapper-form > li > .form {
    padding: 5px;
    display: flex;
}

.wrapper-form > li > .title {
    color: #777;
    text-align: right;
    padding-right: 10px
}

.wrapper-form > li > .form {
    -ms-flex: 1;
    flex: 1 1;
    position: relative;
}

.wrapper-form > li.full-state {
    width: 100% !important;
}

.time-spend-list {
    margin: 5px;
    padding: 5px
}

.time-spend-list > div {
    padding: 5px;
    border-bottom: 1px solid #e0e0e0;
}

.time-spend-list > ul {
    list-style: none;
    padding: 5px 0 0;
    margin: 0
}

.time-spend-list > ul > li {
    padding: 5px 15px;
    border-bottom: 1px dashed #f1f1f1
}

.time-spend-list > ul > li:hover {
    background-color: #f5f5f5
}

.time-spend-list > ul > li > div:first-child {
    color: #aaa
}

.time-spend-list > ul > li > div:first-child > span {
    color: #333;
    margin-right: 15px
}

.time-spend-list > ul > li > div:last-child {
    padding-top: 5px
}

.time-spend-list > ul > li > div:last-child:before {
    content: "┕";
    margin-right: 3px;

}


span.bp3-popover-target {
    display: block
}

.bp3-control.bp3-checkbox.bp3-checkbox-with-suggest {
    margin: 0 0 0 10px;
    align-self: center;
}

.bp3-input-group.align-center {
    align-self: center;
}

.bp3-spinner {
    left: 50%;
    top: 50%;
}

.bp3-overlay-zindex-21 {
    z-index: 21;
}

.bp3-dialog {
    background-color: #fff;
    border-radius: 3px;
}

.header {
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 14px;
    font-weight: bold;
    display: flex;
}

.contents.contents-fixed {
    max-height: 65em;
    overflow: auto;
}

.footer {
    padding: 10px;
    border-top: 1px solid #f1f1f1;
}

.wrapper-toolbar {
    margin-left: auto;
}

.wrapper-title {
    align-self: center;
}

.grid-stepper {
    display: flex;
    background: #ededed;
    margin-bottom: 2px;
}

.grid-stepper > span {
    align-self: center;
    margin: 10px;
}

.hidden {
    display: none !important;
}


.wrapper-form-state-1.wrapper-form > li {
    width: 100%;
}

.wrapper-form-state-1.wrapper-form > li > .title {
    width: 120px;
}

.wrapper-form-state-2.wrapper-form > li {
    width: 50%;
}

.wrapper-form-state-2.wrapper-form > li > .title {
    width: 120px;
}


span.span-link {
    color: #005b9e;
}

span.span-link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #005b9e;
}


.App {
    text-align: center
}

.App-logo {
    height: 40vmin;
    pointer-events: none
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        -webkit-animation: App-logo-float 3s ease-in-out infinite;
        animation: App-logo-float 3s ease-in-out infinite
    }
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin)
}

.App-link {
    color: #704cb6
}

@-webkit-keyframes App-logo-float {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(10px)
    }
    to {
        transform: translateY(0)
    }
}

@keyframes App-logo-float {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(10px)
    }
    to {
        transform: translateY(0)
    }
}

/*# sourceMappingURL=main.e65e5bce.chunk.css.map */
